.carousel-container {
  position: relative;
  overflow: clip;
  width: 500px;
  height: 100vh;
  margin-left: 5.5vh;
  margin-top: 3.5vh;
  display: flex;
  width: 30vw;
  align-items: center;
}

.carousel-items {
  display: flex;
  width: max-content;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  position: relative;
  font-family: Mulish, sans-serif;
  font-weight: 1000;
}

.carousel-item {
  width: 30vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  background-size: contain;
  font-size: 7vh;
  user-select: none;
  margin-bottom: 40px;
  -webkit-text-stroke: 1px rgba(98, 98, 98, 0.729);
  transition: 0.5s ease-in-out;
  color: transparent;
  cursor: pointer;
}

.carousel-item:hover {
  transform: translate(1rem);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  transition: 0.5s ease-in-out;
}

.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgb(16, 16, 16) 0%,
    rgba(244, 244, 244, 0) 30%,
    rgba(244, 244, 244, 0) 70%,
    rgba(16, 16, 16) 100%
  );
  pointer-events: none;
}

.highlighted {
  color: white;
  transition: 0.5s ease-in-out;
}

.event-description-item {
  position: relative;
}

.event-description-list-wrap {
  position: absolute;
  user-select: none;
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  overflow-x: clip;
}

.slick-track {
  margin-left: 40vw;
  margin-top: 20vh;
  padding: 0;
  right: -100%;
  width: 100vw;
  overflow: hidden;
  color: aliceblue;
}

.container-desc {
  z-index: 100;
}
.event-img {
  position: relative;
  width: 52vw;
  display: flex;
  gap: 1em;
  margin-top: 20px;
  overflow: hidden;
}
.event-img .img {
  position: relative;
  height: auto;
  border-radius: 5px;
}
.img-1 {
  flex: 1;
}
.img-2 {
  flex: 1;
}
.img-3 {
  flex: 1;
}
.img-4 {
  flex: 1;
}
.container-desc-per {
  position: absolute;
}
.date-cont {
  display: flex;
  flex-direction: row;
}

.date-label {
  font-size: 1rem;
  position: relative;

  transition: 1.5s ease-in-out;
  opacity: 0;
}

.location-label {
  font-size: 1.9rem;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52vw;
  margin-top: 10px;
}

.location-label {
  position: relative;
  transition: 1.5s ease-in-out;
  opacity: 0;
}
.location-label p {
  display: inline-block;
  width: 100%; /* Or define a fixed width if needed */
  white-space: normal;
  margin: 0;
}
.rectangle {
  margin-left: auto;

  height: 3px;
  width: 100%;
  background-color: rgb(66, 66, 66);
}

.event-title {
  font-weight: 800;
  font-size: 2rem;
  width: 52vw;
  text-align: justify;
  opacity: 0;
}
.event-img {
  position: relative;

  transition: 1.5s ease-in-out;
  opacity: 0;
}
.time {
  position: absolute;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.event-detail {
  opacity: 0;
  position: relative;
  width: 52vw;
  z-index: 100;
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
}

.img {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
}

.event-title {
  position: relative;
  transition: 1.5s ease-in-out;
  opacity: 0;
}

.event-detail {
  position: relative;

  transition: 1.5s ease-in-out;
  opacity: 0;
}

/* Animation */
.date-label-icymi.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-icymi.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-icymi.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}
.event-detail-icymi.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-icymi.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}
/* baton */
.event-detail-baton.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}

.date-label-baton.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-baton.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-baton.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}

.event-detail-baton.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-baton.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}

/*sagip*/
.event-detail-sagip.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}

.date-label-sagip.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-sagip.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-sagip.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}

.event-detail-sagip.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-sagip.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}
/*school*/
.event-detail-school.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}

.date-label-school.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-school.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-school.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}

.event-detail-school.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-school.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}
/*pray*/
.event-detail-pray.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}

.date-label-pray.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-pray.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-pray.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}

.event-detail-pray.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-pray.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}
/*values*/
.event-detail-values.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}

.date-label-values.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-values.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-values.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}

.event-detail-values.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-values.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}
/*hiv*/
.event-detail-hiv.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}

.date-label-hiv.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out;
}

.location-label-hiv.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.1s;
}

.event-title-hiv.active {
  left: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.5s;
}

.event-detail-hiv.active {
  right: 0;
  opacity: 100;
  transition: 0.5s ease-in-out 1.8s;
}
.event-img-hiv.active {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out 2.4s;
  opacity: 100;
}
